extends layout

block content 
    
    .row
        .col-sm-8
            h1 List of Products
        .com-sm-4
        a(href="/products/add",class="btn btn-success btn-sm float-right") Add New Products
    
    table.table
        thead
            tr  
                
                th Name
                th ProductCode
                th Size 
                th Availability
                th Price
                th Quantity
                th Actions
        tbody
            each product in products
                tr
                    td=product.Name
                    td=product.ProductCode
                    td=product.Size
                    td=product.Availability
                    td=product.Price    
                    td=product.Quantity
                    td
                        a(href="/products/delete/"+product._id,class="btn btn-danger btn-sm") Delete
                        a(href="/products/edit/"+product._id,class="btn btn-warning btn-sm") Edit
                        a(href="/products/cart/"+product._id,class="btn btn-info btn-sm") AddToCart