extends ../layout
block content
    h2 Edit Product
    form(action="/products/edit/"+product._id,method="post")
        .form-group
            label(for="name") Product Name
                input#name(type="text" ,class="form-control" name="Name", value=product.Name) 
        .form-group
            label(for="code") Product Code
                input#ProductCode(type="text" ,class="form-control" name="ProductCode", value=product.ProductCode )
        .form-group
            label(for="Size") Size
                input#size(type="text" ,class="form-control" name="Size",value=product.Size)
        .form-group
            label(for="availability") Availability
                input#availability(type="text" ,class="form-control" name="Availability",value=product.Availability)
        .form-group
            label(for="price") Product Price
                input#price(type="text" ,class="form-control" name="Price",value=product.Price)
        .form-group
            label(for="quantity") Quantity
                input#quantity(type="text" ,class="form-control" name="Quantity",value=product.Quantity)
        input(type="submit",class="btn btn-info") 